body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2,#c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

header {
    background: #5a12ac;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    background: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #5a12ac;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
